/* GLOBAL */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  height: 100%;
  background: #43cea2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #185a9d,
      #43cea2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #185a9d,
      #43cea2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-grad {
  background-image: linear-gradient(to right,
      #16a085 0%,
      #f4d03f 51%,
      #16a085 100%);
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  border: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.item-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.show-modal-button {
  z-index: 1;
}

.box {
  z-index: 1;
}

.header {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.header h1 {
  margin: 0;
}

.header span {
  font-size: 28px;
  cursor: pointer;
}

.body {
  color: #ddd;
  padding: 10px 20px;
  background: #005C97;
  background: -webkit-linear-gradient(to right, #363795, #005C97);
  background: linear-gradient(to right, #363795, #005C97);
  border-radius: 0 0 10px 10px;
}

.body p {
  margin: 0;
  line-height: 1.8;
}

.overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}