/* GLOBAL */

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-700 {
  font-weight: 700;
}

.main-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}

/* MAIN BUTTON */
.main-button {
  width: 260px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #ea625c;
  text-transform: uppercase;
}

.main-button:hover {
    opacity: 0.8;
}

.main-button:active {
    opacity: 0.6;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1060px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
.site-header {
  padding: 30px 125px;
}

.site-header__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-header__nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.site-header__nav-item:not(:last-child) {
  margin-right: 30px;
}

.site-header__nav-item:last-child {
  margin-left: 10px;
}

.site-header__nav-link {
  font-size: 15px;
  line-height: 22.5px;
}

.site-header__nav-link:hover {
  opacity: 0.8;
}

.site-header__nav-link:active {
  opacity: 0.6;
}

.help-link {
  color: #666;
  border-bottom: 1px solid #666;
  display: inline-block;
  padding: 6px 0;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

/* COVER */
.cover {
  padding-top: 50px;
}

.cover__container {
  background-image: url(../images/intro-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 567px;
}

.cover__content {
  padding-top: 90px;
  width: 490px;
}

.cover__content > h1 {
  margin: 0;
}

.cover__content > p {
  color: #777;
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
  padding-left: 40px;
  border-left: 3px solid #888;
}

.cover__content > a {
  margin-top: 30px;
}

/* FEATURES */
.features {
  padding: 70px 0;
}

.features__cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -40px;
}

.features__card {
  width: 280px;
  margin: 0 40px;
}

.features__card > h2 {
  font-size: 18px;
  line-height: 27px;
  color: #222;
  text-transform: uppercase;
  margin: 0;
}

.features__card > p {
  margin: 30px 0 0;
  font-size: 15px;
  line-height: 24px;
  color: #333;
}

.features__card > div {
  margin-top: 20px;
}

.squares > span {
  width: 8px;
  height: 8px;
  background-color: #ddd;
  display: inline-block;
}

.squares > span:not(:last-child) {
  margin-right: 10px;
}

.feature__card__learn-more {
  display: flex;
  align-items: center;
}

.feature__card__learn-more span {
  display: inline-block;
  width: 40px;
  height: 0;
  background-color: #ea625c;
  border: 2px solid #ea625c;
  margin-right: 10px;
}

.feature__card__learn-more a {
  font-size: 16px;
  color: #ea625c;
  cursor: pointer;
}

.feature__card__learn-more a:hover {
  opacity: 0.8;
}

.feature__card__learn-more a:active {
  opacity: 0.6;
}

/* INFO */
.info {
  padding: 70px 0;
}

.info__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__content {
  width: 490px;
  margin-right: 110px;
}

.info__content h1 {
  margin: 0;
}

.info__content p {
  color: #777;
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
  padding-left: 40px;
  border-left: 3px solid #888;
}

.info__content a {
  margin-top: 30px;
}

/* EXPLORE */
.explore {
  height: 830px;
  background-image: url(../images/explore-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.explore__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #fff;
}

.explore__content {
  width: 490px;
}

.explore__content h1 {
  margin: 0;
}

.explore__content p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
  padding-left: 40px;
  border-left: 3px solid #fff;
}

.explore__content a {
  margin-top: 30px;
}
